<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Thing To Sell | PointLook</title>
    <meta name="description"
          content="Facebook Thing to Sell."/>

    <!-- Roboto font -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@pointlook">
    <meta name="twitter:title" content="Facebook Thing to Sell">
    <meta name="twitter:description"
          content="Facebook Thing to Sell">
    <meta name="twitter:creator" content="@pointlook">
    <meta name="twitter:image" content="//images/log.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Facebook Thing to Sell"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="//fb.thingtosell.com"/>
    <meta property="og:image" content="//fb.thingtosell.com/images/log.png"/>
    <meta property="og:description"
          content="Facebook Thing to Sell."/>
    <meta property="og:site_name" content="thingtosell"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">
</head>
